/* Empty. Add your own CSS if you like */
* {
    font-family: "Microsoft YaHei" ! important;
}

/*#guideContent{
    background:url("../img/guideBackground_page1.png") no-repeat;
    background-size: cover;
}
img{
    width: 150px;
}
#guideLogo{
    width: 150px;
    margin: 20% auto;
}
#guideStartText{
    font-size:17px;
    padding-top: 20px;
}
div{
    text-align: center;
}
#buttonContent{
    width: 400px;
    margin: 0 auto;

}*/
.guideContentBackground1 {
    background: url("../img/guideBackground_page1.png") no-repeat;
    background-size: cover;
}

.guideContentBackground2 {
    background: url("../img/guideBackground.png") no-repeat;
    background-size: cover;
}

.imgRedLogo {
    width: 160px;
    height: 100px;
    margin-top: 9em;
}

.imgWhiteLogo {
    width: 128px;
    height: 80px;
    margin-top: -1em;
}

.imgLogoIcon {
    width: 6em;
    height: 6em;
    margin-top: -1em;
}
.button-clover{
    background-color:transparent;
    border-radius:25px;
    color:#ae0009;
    border:1px #ae0009 solid;

}

.button-clover.active{
    background-color: #ae0009;
    border: 1px solid #ae0009;
    color: #ffffff;
}
.avatar-clover{
    border:solid 1px #ae0009;
    width:50px;
    height:50px;
}
/*自定义圆角button,按下去是红色的。弹起来是透明的带有1px的白色边框。字体为*/
.button.button-none-red {

    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 30px;
    border: 1px solid white;
    height: 50px;
    width: 80%;
    font-size: 17px;
}

.button.button-none-red:hover {
    color: #ffffff;
    text-decoration: none;
}

.button.button-none-red.active, .button.button-none-red.activated {
    background-color: #ae0009;
    border: 1px solid #ae0009;
    color: #ffffff;
}

.button.button-none-red.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #ddd;
}

.button.button-none-red.button-icon {
    border-color: transparent;
    background: none;
}

.button.button-none-red.button-outline {
    border-color: #ddd;
    background: transparent;
    color: #ddd;
}

.button.button-none-red.button-outline.active, .button.button-none-red.button-outline.activated {
    background-color: #ddd;
    box-shadow: none;
    color: #fff;
}

/*自定义圆角button,按下去是毛玻璃样式的。弹起来是透明的带有1px的白色边框。字体为*/
.button.button-none {

    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-radius: 30px;
    border: 2px solid white;
    height: 50px;
    width: 80%;
    font-size: 17px;

}

.button.button-none:hover {
    color: #ffffff;
    text-decoration: none;
}

.button.button-none.active, .button.button-none.activated {
    background-color: rgba(184, 175, 201, 0.4);
    border: 2px solid rgba(203, 208, 219, 0.12);
    color: #ffffff;
}

.button.button-none.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #ddd;
}

.button.button-none.button-icon {
    border-color: transparent;
    background: none;
}

.button.button-none.button-outline {
    border-color: #ddd;
    background: transparent;
    color: #ddd;
}

.button.button-none.button-outline.active, .button.button-none.button-outline.activated {
    background-color: #ddd;
    box-shadow: none;
    color: #fff;
}

/*自定义圆形button,按下去是透明的的。弹起来是毛玻璃样式的。*/
.button.button-none-circle {

    background-color: rgba(200, 200, 200, 0.27);
    color: white;
    min-width: 1em;
    min-height: 1em;
    border-radius: 2em;
    border: 1px solid white;
    height: 4em;
    width: 4em;
    font-size: 13px;
}

.button.button-none-circle:hover {
    color: #ffffff;
    text-decoration: none;
}

.button.button-none-circle.active, .button.button-none-circle.activated {
    background-color: rgba(184, 175, 201, 0.08);
    border: 1px solid rgba(203, 208, 219, 0.12);
    color: #ffffff;
}
/*自定义圆形button,按下去是颜色会变浅一点。背景为返回logo*/
.button.button-none-circle-back {

    background-color: rgba(200, 200, 200, 0.27);
    background-image:url("../img/backImage.png");
    background-size: 4em 4em;
    padding: 0;
    min-width: 1em;
    min-height: 1em;
    color: white;
    border-radius: 2em;
    border:1px solid rgba(200, 200, 200, 0.27);
    height: 4em;
    width: 4em;
    font-size: 15px;
    margin-top: 1em;
    margin-left: 1em;
}

.button.button-none-circle-back:hover {
    color: #ffffff;
    text-decoration: none;
}

.button.button-none-circle-back.active, .button.button-none-circle-back.activated {
    background-color: rgba(184, 175, 201, 0.08);
    border: 1px solid rgba(203, 208, 219, 0.12);
    color: #ffffff;
}

/*grid列中checkbox样式*/
.col-33.col-checkbox-div {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    color: white;
    margin: 5px 10px;
    width: 100%;
}
/*垂直排列，水平居中容器*/
.centerContent {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    color: white;
    width: 100%;
}

.centerContent.Avatar{
    background: url("../img/avatarBackground.png") ;
    height: 40%;
}

/*
 *增加checkBox css样式，选中为毛玻璃样式，
 *没选中为透明带一个白色边框，通过RadioCtrl
 *的check的值可以知道当前checkBox是否选中，
 *true：选中，false：没选中*/
.customCheckBox{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-radius: 30px;
    border: 1px solid white;
    height: 50px;
    padding: 0.4em 0;
    font-size: 17px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;

}
.customCheckBoxChecked{
    background-color: rgba(200, 200, 200, 0.27);
    color: white;
    border-radius: 30px;

    height: 50px;
    padding: 0.4em 0;
    font-size: 17px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

/*
 *增加基本资料中的条目 css样式，没有填内容的话为毛玻璃样式，
 *填了内容之后为透明带一个白色边框，
 */
.customInputFilled{
    width: 100%;
    margin: 0.5em 0;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-radius: 30px;
    border: 1px solid white;
    height: 2em;
    padding: 0.4em 0.7em;
    font-size: 17px;
    text-align: center;
}
.customInputNotFilled{
    width: 100%;
    margin: 0.5em 0;
    background-color: rgba(200, 200, 200, 0.27);
    color: white;
    border-radius: 30px;
    height: 2em;
    padding: 0.4em 0.7em;
    font-size: 17px;
    text-align: center;
}

/*自定义圆角button,按下去是红色的字体为白色的。弹起来是白色的带有1px的红色边框字体为红色的*/
.button.button-red-none {

    background-color: rgba(255, 255, 255, 0.2);
    color: #ae0009;
    border-radius: 30px;
    border: 1px solid #ae0009;
    height: 50px;
    width: 80%;
    font-size: 17px;
}
.button.button-red-none.active, .button.button-red-none.activated {
    background-color: #ae0009;
    border: 1px solid #ae0009;
    color: white;
}

/*.button.button-red-none-50{
    background-color: rgba(255, 255, 255, 0.2);
    color: #ae0009;
    border-radius: 30px;
    border: 1px solid #ae0009;
    height: 50px;
    width: 15em !important;
    font-size: 17px;
}
.button.button-red-none-50.active, .button.button-red-none-50.activated {
    background-color: #ae0009;
    border: 1px solid #ae0009;
    color: white;
}*/
/*身高输入框的样式*/
.popup {
    width: 80% !important;
    height: 22em;
    border-radius: 2em !important;
    background-color:white !important;
}
.popup-buttons{
    margin-bottom:1em;
}
.popup-title{
    font-size: 1.6em;
    font-weight: bold;
    color: black;
}
.popup-body{
     /*margin-top: 5em;*/
    height: 17em;
     display: flex;
     justify-content: center;
     flex-flow: column;
     align-items: center;
}
/*设置日期选择插件的头部和底部背景颜色*/
.ionic_datepicker_modal .header, .ionic_datepicker_modal .footer {
    background-color: #ae0009 !important;
}
/*设置选中的日期块的背景颜色*/
.ionic_datepicker_modal .selected_date {
    background-color: #ae0009 !important;
    border-radius: 4em;
    border: 1px solid rgba(174, 0, 9, 0) !important;
}
/*设置日期选择插件的头部高度*/
.header{
    height: 3em !important;
}


/*个人信息tag*/
.col-person-tag {
    background-color: rgba(24, 24, 24, 0.27);
    color: black;
    border-radius: 3em;
    font-weight: bold;
    padding: 0.4em 0.7em;
    text-align: center;
    margin-right: 1em;
    text-align: center;
}
/*main tab tags*/
.person-tag{
    background-color: rgba(24, 24, 24, 0.27);
    color: black;
    border-radius: 3em;
    font-weight: bold;
    padding: 0.4em 0.7em;
    text-align: center;
    margin-right: 1em;
    text-align: center;
    display: inline-block;
}

.person-target-tag{
    background-color: #EEEEEE;
    color: black;
    border-radius: 3em;
    border-color: rgba(24, 24, 24, 0.27);
    border-width: 1px;
    font-weight: bold;
    padding: 0.4em 0.7em;
    text-align: center;
    margin-right: 1em;
    text-align: center;
    display: inline-block;
}