#logo{
    margin: 100px 50px 0px 120px;
    width: 100px;

}
.list{
    border-radius: 8px;
    background-color: transparent;
}
.item1{
    margin: 30px 20px;
    padding: 5px 0;
    background-color: transparent;
    border: 1px solid aliceblue;
    border-radius: 22px;                /* 圆角边框 */
    width: 305px;
    height: 50px;
    color: #d1d3d6;
    font-weight: 100;
    font-size: 25px;
    letter-spacing: 15px;
    text-align: center;
}
.item2{
    margin: 10px 20px;
    padding: 5px 0;
    background-color: transparent;
    border: 1px solid aliceblue;
    border-radius: 22px;                /* 圆角边框 */
    width: 200px;
    height: 50px;
    color: #d1d3d6;
    font-weight: 100;
    font-size: 25px;
   letter-spacing: 15px;
   text-align: center;
}
.button-energized{
    margin: 10px 0px;
    padding: 0px;
    border-radius: 22px;
    width: 85px;
    height: 40px;
    font-size:15px ;
    background-color: transparent;
    color: #fafafa;
}
.button-energized:hover {
    text-decoration: none;
}

.button-energized.active, .button-energized.activated {
    background-color: #ae0009;
    border: 1px solid #ae0009;
    color: #ffffff;
}

.button-energized.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #ddd;
}

.button-energized.button-icon {
    border-color: transparent;
    background: none;
}

.button-energized.button-outline {
    border-color: #ddd;
    background: transparent;
    color: #ddd;
}

.button-energized.button-outline.active, .button-energized.button-outline.activated {
    background-color: #ddd;
    box-shadow: none;
    color: #fff;
}
.button-login{
    margin:20px 70px;
    width: 200px;
    height:50px;
    color: #d1d3d6;
    border-radius: 25px;
    background-color: transparent;
}
.loginselect{
    margin: 0px 150px;
    color: #d1d3d6;
    width: 100px;
}
.header{
    margin: 0px;
    height: 200px;
}
.subbar{
    margin: 120px 0px;
}
.pictures{
    width: 30px;
}

