
<ion-view view-title="guide_04">
    <ion-content class="guideContentBackground2">
        <div class="centerContent">
            <div style="margin-left: 1em;margin-right: 1em;width: 100%;height: 5em" >
                <img class="back-button-left" ng-click="" src="img/back-left.png" ui-sref="guide_03" style="width: 50px;margin-top: 1em;margin-left: 1em;float: left">
                <img class="back-button-right" ng-click="" src="img/back-right.png" ui-sref="guide_05" style="width:50px;margin-top: 1em;margin-right: 1em;float: right">
            </div>
            <img  src="img/logo_white.png" style="width: 8em;height: auto;margin-top: 2em;margin-bottom: 5em">
            <p>我要找：</p>
            <button class="button button-none" style=" margin-top: 10%;width: 66.7%;height: 50px " type="submit" ng-click="updateTargetGender('female');">儿媳</button>
            <button class="button button-none" style=" margin-top: 2em;width: 66.7%;height: 50px " type="submit" ng-click="updateTargetGender('male');">女婿</button>

        </div>
    </ion-content>
<!--
<ion-view view-title="guide_04">
    <ion-content class="guideContentBackground2">
        <img class="back-button-left" src="img/back-left.png" ui-sref="guide_03" style="width: 50px;margin-top: 1em;margin-left: 1em;float: left">
        <img class="back-button-right" src="img/back-right.png" ui-sref="guide_05" style="width:50px;margin-top: 1em;margin-right: 1em;float: right">
        <div class="centerContent  ">
            <div class="row responsive-sm padding remvoeBP">
                <div class="col">
                    <div class="app-logo"><img class="logo" src="img/logo_white.png"></div>
                    <p class="loginselect">我要找：</p>
                    <ul>
                        <li>
                            &lt;!&ndash;             <button class="button button-none-red"style=" margin:20px 53px ; width: 250px;height:50px;" type="submit">儿媳</button>&ndash;&gt;
                            <button class="button button-none" style="margin:3% 14.1%;width: 66.7%;height: 50px" type="submit" ng-click="updateTargetGender('female');">儿媳</button>
                        </li>
                        <li>
                            <button class="button button-none" style=" margin:3% 14.1%;width: 66.7%;height: 50px;" type="submit" ng-click="updateTargetGender('male');">女婿</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>-->
