<!DOCTYPE html>
<html  ng-app="guideApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="../lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="../css/guide.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="../lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="../cordova.js"></script>

    <!-- your app's js -->
    <script src="../js/app.js"></script>

    <script src="../lib/ionic/js/ionic.bundle.js"></script>

</head>
<body ng-controller="guideCtrl">
<ion-nav-view >
</ion-nav-view>
</body>
<script type="text/javascript">
    var app = angular.module("guideApp",["ionic"]);
    app.run(function($ionicPlatform) {
        $ionicPlatform.ready(function() {
            if(window.cordova && window.cordova.plugins.Keyboard) {
                // Hide the accessory bar by default (remove this to show the accessory bar above the keyboard
                // for form inputs)
                cordova.plugins.Keyboard.hideKeyboardAccessoryBar(true);

                // Don't remove this line unless you know what you are doing. It stops the viewport
                // from snapping when text inputs are focused. Ionic handles this internally for
                // a much nicer keyboard experience.
                cordova.plugins.Keyboard.disableScroll(true);
            }
            if(window.StatusBar) {
                StatusBar.styleDefault();
            }
        });
    }).config(function($stateProvider){
        $stateProvider
                .state("guide1",{
                    templateUrl:"guide_01.html"
                }).state("guide2",{
                    templateUrl:"guide_02.html"
                }).state("guide3",{
                    templateUrl:"guide_03.html"
                }).state("guide4",{
                    templateUrl:"guide_04.html"
                }).state("guide5",{
                    templateUrl:"guide_05.html"
                }).state("guide6",{
                    templateUrl:"guide_06.html"
                }).state("guide7",{
                    templateUrl:"guide_07.html"
                }).state("guide8",{
                    templateUrl:"guide_08.html"
                }).state("guide9",{
                    templateUrl:"guide_09.html"
                }).state("guide10",{
                    templateUrl:"guide_10.html"
                }).state("guide11",{
                    templateUrl:"guide_11.html"
                });
    }).controller('guideCtrl',function($scope,$state){
        $state.go('guide1');
    }).directive('guideTwoButton',function(){
        return{
            restrict:'E',
            /*这是guide页面最上面的两个button  保存和跳过*/
            template:'<div><button class="button button-none-circle" style="margin-top: 1em;margin-left: 1em;">跳过</button><button class="button button-none-circle" style="margin-top: 1em;margin-right: 1em;float: right">保存</button></div>',
            replace:true
        };
    });
</script>
</html>
