<ion-view view-title="guide_04">
    <ion-content class="guideContentBackground2">
        <img class="back-button-left" src="img/back-left.png" ui-sref="guide_03">
        <img class="back-button-right" src="img/back-right.png" ui-sref="guide_05">
        <div class="centerContent  ">
            <div class="row responsive-sm padding remvoeBP">
                <div class="col">
                    <div class="app-logo"><img class="logo" src="img/logo_white.png"></div>
                    <p class="loginselect">我要找：</p>
                    <ul>
                        <li>
                            <!--             <button class="button button-none-red"style=" margin:20px 53px ; width: 250px;height:50px;" type="submit">儿媳</button>-->
                            <button class="button button-none" style="margin:3% 14.1%;width: 66.7%;height: 50px" type="submit" ng-click="updateTargetGender('female');">儿媳</button>
                        </li>
                        <li>
                            <button class="button button-none" style=" margin:3% 14.1%;width: 66.7%;height: 50px;" type="submit" ng-click="updateTargetGender('male');">女婿</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
