<ion-content class="guideContentBackground1">
    <div style="display: flex;justify-content: center;flex-flow: column;align-items: center;">
        <img class="imgRedLogo" src="../img/logo.png">
        <label id="guideStartText"  >——&nbsp;让你感受相亲新方式&nbsp;——</label>
        <!--点击按钮在index页面的ion-nav-view中插入下一个片段-->
        <button  class="button button-none-red" style="margin-top:50%;" ui-sref="guide9">快速登陆</button>
        <button  class="button button-none-red" style="margin-top: 20px">先看看</button>
    </div>
</ion-content>