<ion-view view-title="guide_02">
    <ion-content class="guideContentBackground2">
        <img class="back-button-left" src="img/back-left.png" ui-sref="guide_01" style="width: 50px;margin-top: 1em;margin-left: 1em;float: left">
        <img class="back-button-right" src="img/back-right.png" ui-sref="guide_03" style="width:50px;margin-top: 1em;margin-right: 1em;float: right">
        <div class="centerContent" style="display: flex;">
            <div class="col">
                <div class="app-logo"><img class="logo" src="img/logo_white.png" style="width: "></div>
                <label class="item1 item-input icon ion-android-call">
                    <input class="login" style="background: none" type="text" ng-model="user.username"
                           placeholder="请输入11位手机号码">
                </label>
                <table>
                    <tr>
                        <td>
                            <label class="item2 item-input icon ion-eye ">
                                <input class="login" type="password" ng-model="user.password" placeholder="验证码信息">
                            </label>
                        </td>
                        <td>
                            <button class="button-energized" type="submit"
                                    ng-click="sendMsg(user.username)">获取验证码
                            </button>
                        </td>
                    </tr>
                </table>
                <div class="loginButton">
                    <button class="button button-none-red " style="margin: 1.5em 4.375em;width: 53% ;height: 50px"
                            ng-click="login(user);"> 快速登录
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>