<ion-view view-title="guide_06" ng-controller="GetPicCtrl">
    <ion-content class="guideContentBackground2">
        <img class="back-button-left" src="img/back-left.png" ui-sref="guide_05" style="width: 50px;margin-top: 1em;margin-left: 1em;float: left">
        <img class="back-button-right" src="img/back-right.png" ui-sref="guide_07" style="width:50px;margin-top: 1em;margin-right: 1em;float: right">

        <!--<button class="button button-none-circle-back" ui-sref="guide_05"></button>-->
        <!--<button class="button button-none-circle" ui-sref="guide_05" style="margin: 1em;">返回</button>-->
        <div class="centerContent">
            <div class="row responsive-sm padding remvoeBP">
                <div class="col">
                    <div class="app-logo"><img class="logo" src="img/logo_white.png"></div>
                    <p class="loginselect">我要找：</p>
                    <br>
                    <ul ng-controller="CityCtrl" style="width: 90%">
                        <li>
                            <button class="button button-none" style=" margin:3% 14.1%;width: 66.7%;height: 50px"
                                    type="submit">{{vm.chooseCity}}
                            </button>
                        </li>
                        <li>
                            <button class="button button-none" style=" margin:3% 14.1%;width: 66.7%;height: 50px"
                                    type="submit" ng-click="choose()">选择城市
                            </button>
                        </li>
                    </ul>
                    <!--<div ng-controller="MycityCtrl">
                        <p class="loginselect">选择省：</p>
                        <li class="centerContent">
                            <select ng-model="your.province" ng-options="v.province for v in chinaCities"
                                    ng-change="selectedFirstValue(your.province)">
                                <option value="" ng-if="!chinaCities && !your.province">请选择</option>
                            </select>
                        </li>
                        <br>
                        <p class="loginselect">选择市：</p>
                        <li class="centerContent">
                            <select ng-model="your.city" ng-options="v.city for v in your.province.cities">
                                <option value="" ng-if="!your.city">请选择</option>
                            </select>
                        </li>
                        <br>
                        <p class="loginselect">选择区：</p>
                        <li class="centerContent">
                            <select ng-model="your.area" ng-options="v for v in your.city.areas">
                                <option value="" ng-if="!your.city">请选择</option>
                            </select>
                        </li>
                    </div>-->
                </div>
            </div>

        </div>
        <!--<label style="margin-top: 1em">——&nbsp;上传子女头像&nbsp;——</label>
        <button class="button button-none" style="margin-top:25%">本地相册上传</button>
        <button class="button button-none" style="margin-top:4%" ng-click="takePicture()">拍照上传</button>
        <button class="button button-none" style="margin-top:4%" ui-sref="guide_07">跳过</button>
        <label style="margin-top:4%">上传头像，关注度提升一百倍</label>
        <img ng-show="imgURI!=undefined" ng-src="{{imgURI}}">
        &lt;!&ndash;<img ng-show="imgURI === undefined" ng-src="http://xbox360.tgbus.com/UploadFiles/201301/20130105093935574.jpg">&ndash;&gt;
        </div>-->
        <img src="img/tabline_25.png" style="width: 90%;margin:20% 5%;margin-bottom: 0px">
    </ion-content>
</ion-view>

<!--<ion-content class="guideContentBackground2" ng-controller="cityCtrl">
    <div style="display: flex;justify-content: center;flex-flow: column;align-items: center;">
        <img class="imgWhiteLogo" src="img/logo_white.png">
        <button class="button button-none" style="margin-top:50%;" ui-sref="guide_03">next page</button>-->
<!--<ionic-city-picker options='vm.CityPickData1'></ionic-city-picker>
            <ionic-city-picker options='vm.CityPickData2'></ionic-city-picker>
            <ionic-city-picker options='vm.CityPickData3'></ionic-city-picker>
            <ionic-city-picker options='vm.CityPickData4'></ionic-city-picker>
            <div class="button button-positive button-block" ng-click="vm.change()">
                修改城市
            </div>
            <div class="button button-positive button-block" ng-click="vm.sync()">
                同步{{vm.CityPickData2.areaData}}
            </div>
            <div></div>-->
<!--<time-picker title="我是程序员" time-picker-result="result" hideTime="true">
            <p>
                测试
            </p>
        </time-picker>
    </div>
</ion-content>
</ion-view>-->

