<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view id="personDetailView"
          cache-view="false"
          view-title="<i class='icon ion-chatbubble user-messages-top-icon'></i> <div class='msg-header-username'>{{person.job}}</div>"
            class="scroll-x">
    <div class="loader-center" ng-if="!doneLoading">
        <div class="loader">
            <i class="icon ion-loading-c"></i>
        </div>
    </div>
    <ion-content ng-controller="PersonDetailTest" scroll="false" on-scroll="checkTag()" overflow-scroll=’true’> <!--class="padding"-->
        <div class="bar">
            <!--<a class="button" href="/#/tab/main">return</a>-->
            <a class="button" ui-sref="tab.main">return</a>
        </div>
        <!--<p>hhh{{person.job}}</p>
        <p>hhh{{person==null}}</p>-->
           <div class="centerContent Avatar" >
               <!--相亲名片logo-->
               <div style="width: 13em;margin-top: 2em">
                   <img class="imgLogoIcon"  src="img/logo_icon.png" style="float: left;height: 5em;width: 5em;">

                   <p style="font-size: 1.4em;padding-top: 2em;font-weight: bold">相亲名片</p>
               </div>
               <!--个人头像-->
               <img ng-src="{{person.avatar}}" style="width: 30%;height: 41%;border-radius: 10em;">
               <!--工作情况（只有在查看别人名片的时候才显示）-->
               <p style="font-size: 1.5em;margin-top: 0.5em" ng-hide="isSelfPersonDetail">{{person.job}}</p>
               <!--个人信息概括（只有在查看别人名片的时候才显示）-->
               <a style="color: #cccccc" ng-hide="isSelfPersonDetail">{{person.include}}</a>
               <!--亲家号（只有在查看自己的名片的时候才显示）-->
               <a style="color: #cccccc;margin-top: 1em" ng-show="isSelfPersonDetail">亲家号：{{person.id}}</a>
           </div>
        <div class="row">
            <!--左侧tag-->
            <div class="col col-static-column"  id="staticColum">
                <div class="centerContent">
                    <div id="tag1" ng-class="{'personDetailTag':tagState[0],'personDetailTagNo':!tagState[0]}" ng-click="customScrollTo(0,0)">
                        <p style="margin-top: 0.5em;">基本<br/>资料</p>
                    </div>
                    <div ng-class="{'personDetailTag':tagState[1],'personDetailTagNo':!tagState[1]}" ng-click="customScrollTo(0,1)">
                        <p style="margin-top: 0.5em;">个性<br/>资料</p>
                    </div>
                    <div ng-class="{'personDetailTag':tagState[2],'personDetailTagNo':!tagState[2]}" ng-click="customScrollTo(0,2)">
                        <p style="margin-top: 0.5em;">生活<br/>照片</p>
                    </div>
                    <div ng-class="{'personDetailTag':tagState[3],'personDetailTagNo':!tagState[3]}" ng-click="customScrollTo(0,3)">
                        <p style="margin-top: 0.5em;">择偶<br/>条件</p>
                    </div>
                </div>
            </div>
            <!--右侧内容区-->
            <div class="col col-75">
                <!--这里的高度应该根据不同机型设定不同的值。。可以在进入程序的时候获取当前机型的屏幕宽高，然后所有的高度都按百分比来设置-->
                <ion-scroll scrollbar-y="false"  style="overflow:hidden;height: 28em" id="test" on-scroll="checkTag()">
                    <!--基本资料-->
                    <div>
                        <p style="float: left;font-weight: bold;font-size:1.2em;color: black">基本资料</p>
                        <!--跳转到修改资料页面（待完成）-->
                        <p style="float: right;font-size: 0.8em;color: red;" ng-show="isSelfPersonDetail" ng-click="">修改></p>
                    </div>
                    <div style="width:1800px;height:2px;margin:0 auto;padding:0;background-color:#636363;overflow:hidden;"></div>

                    <div>
                        <ul class="list">
                            <li class="item" ng-repeat="data in datas" style="padding: 10px">
                                <p style="float: left;color: rgba(42, 42, 43, 0.53)">{{data.info}}</p>
                                <p style="float: right;color: black;font-weight: normal">{{data.value}}</p>
                            </li>
                        </ul>
                    </div>
                    <!--个性资料-->
                    <div delegate-handle="personalInfo" style="margin-top: 4em">
                        <div>
                            <p style="float: left;font-weight: bold;font-size:1.2em;color: black">个性资料</p>
                            <p style="float: right;font-size: 0.8em;color: red;" ng-show="isSelfPersonDetail">修改></p>
                        </div>
                        <div style="width:800px;height:2px;margin:0px auto;padding:0px;background-color:#636363;overflow:hidden;"></div>
                        <div class="row">
                            <div class="col col-person-tag" ng-repeat="data in person.tag.group1 ">{{data}}</div>
                        </div>
                        <div class="row" style="margin-top: 0.2em">
                            <div class="col col-person-tag" ng-repeat="data in person.tag.group2">{{data}}</div>
                        </div>
                    </div>
                    <!--生活照片-->
                    <div delegate-handle="dailyPhoto" style="margin-top: 4em" id="dailyPhoto">
                        <div>
                            <p style="float: left;font-weight: bold;font-size:1.2em;color: black">生活照片</p>
                            <p style="float: right;font-size: 0.8em;color: red;" ng-show="isSelfPersonDetail">修改></p>
                        </div>
                        <div style="width:800px;height:2px;margin:0px auto;padding:0px;background-color:#636363;overflow:hidden;"></div>
                        <div class="row">
                            <div class="col">
                                <img ng-src="{{person.face}}" style="width: 9em;height: 9em;border-radius: 5em;margin-top: 1em">
                            </div>

                            <div class="col">
                                <img ng-src="{{person.face}}" style="width: 9em;height: 9em;border-radius: 5em;margin-top: 1em">
                            </div>
                         </div>
                        <div class="row">
                            <div class="col">
                                <img ng-src="{{person.face}}" style="width: 9em;height: 9em;border-radius: 5em;margin-top: 0.1em">
                            </div>

                            <div class="col">
                                <img ng-src="{{person.face}}" style="width: 9em;height: 9em;border-radius: 5em;margin-top: 0.1em">
                            </div>
                        </div>
                    </div>


                    <!--择偶条件-->
                    <div delegate-handle="maritalFiler" style="margin-top: 4em">
                        <div>
                            <p style="float: left;font-weight: bold;font-size:1.2em;color: black">择偶条件</p>
                            <p style="float: right;font-size: 0.8em;color: red;" ng-show="isSelfPersonDetail">修改></p>
                        </div>
                        <div style="width:800px;height:2px;margin:0px auto;padding:0px;background-color:#636363;overflow:hidden;"></div>
                        <div delegate-handle="baseInfo">
                            <ul class="list">
                                <li class="item" ng-repeat="data in filterDatas" style="padding: 10px">
                                    <p style="float: left;color: rgba(42, 42, 43, 0.53)">{{data.info}}</p>
                                    <p style="float: right;color: black;font-weight: normal">{{data.value}}</p>
                                </li>
                            </ul>
                        </div>
                        <p>希望对方</p>
                        <div class="row">
                            <div class="col col-person-tag" ng-repeat="data in person.tag.group1 ">{{data}}</div>
                        </div>
                        <div class="row" style="margin-top: 0.2em">
                            <div class="col col-person-tag" ng-repeat="data in person.tag.group2">{{data}}</div>
                        </div>
                    </div>
                </ion-scroll>
            </div>


        </div>
       <!-- <img ng-src="{{person.face}}" class="avatar">-->
        <!--        <p>
                    {{chat.lastText}}
                </p>
                <div ng-repeat="message in messages" class="message-wrapper"
                     on-hold="onMessageHold($event, $index, message)">

                    <div ng-if="user._id !== message.userId">

                        <img ng-click="viewProfile(message)" class="profile-pic left"
                             ng-src="{{toUser.pic}}" onerror="onProfilePicError(this)" />

                        <div class="chat-bubble left">

                            <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                            </div>

                            <div class="message-detail">
                                      <span ng-click="viewProfile(message)"
                                            class="bold">{{toUser.username}}</span>,
                                <span am-time-ago="message.date"></span>
                            </div>

                        </div>
                    </div>

                    <div ng-if="user._id === message.userId">

                        <img ng-click="viewProfile(message)" class="profile-pic right"
                             ng-src="{{user.pic}}" onerror="onProfilePicError(this)" />

                        <div class="chat-bubble right">

                            <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                            </div>

                            <div class="message-detail">
                                      <span ng-click="viewProfile(message)"
                                            class="bold">{{user.username}}</span>,
                                <span am-time-ago="message.date"></span>
                            </div>

                        </div>

                    </div>

                    <div class="cf"></div>

                </div>-->
    </ion-content>

</ion-view>
