<ion-view view-title="Main" class="tab-main" >
  <ion-content>
    <div class="main-self">
      <!--<button class="button ion-ios-gear self-setting"></button>-->
      <button class="button button-none-circle-set"></button>
      <img class="avatar-self" ng-src="img/adam.jpg">
      <table class="self-dashboard" >
        <tbody>
        <tr>
          <td class="dashboard-key">被关注:</td>
          <td class="dashboard-value">15 <span class="badge badge-custom">9</span></td>
        </tr>
        <tr>
          <td class="dashboard-key">被浏览:</td>
          <td class="dashboard-value" >198<span class="badge badge-custom">99+</span></td>
        </tr>
        </tbody>

        <!--<button class="button button-clover active ion-ios-person self-profile">相亲名片</button>-->

      </table>
      <button class="button button-edit-personal-detail" ng-controller="PersonDetailTest" ui-sref="tab.person-detail"></button>
    </div>

      <div id="main-bar" class="bar">
        <div class="button-bar main-button-bar">
          <a class="button main-filter recent" ng-class="{ 'active': activeButton === 'recent' }" ng-click="filterSwitch('recent')">最近</a>
          <a class="button main-filter hot" ng-class="{ 'active': activeButton === 'hot' }" ng-click="filterSwitch('hot')">热门</a>
          <a class="button main-filter filter"  ng-class="{ 'active': activeButton === 'filter' }" ng-click="filterSwitch('filter')">筛选</a>
          <script id="filter.html" type="text/ng-template">
            <div class="modal">
              <ion-header-bar>
                <h1 class="title">我的模型标题</h1>
              </ion-header-bar>
              <ion-content>
                Hello!
              </ion-content>
            </div>
          </script>
        </div>
      </div>

      <div class="persons-list-main">
          <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="person in persons" type="item-text-wrap" href="#/tab/persons/{{person.getId()}}">
              <img class="avatar-clover" ng-src="{{person.get("avatar")}}">
              <h2>{{person.get("company")}} {{person.get("job")}}</h2>
              <p>{{person.get("gender")}} | {{person.residence}} | {{person.bornyear}} | {{person.get("degree")}} | {{person.get("height")}}</p>
              <div class="person-tags">
                <div class="person-tag" ng-repeat="tag in person.tags ">{{tag}}</div>
              </div>
              
              <div class="target-tags">
                <p style="margin-left:-2em; display:inline-block;">寻觅</p>
                <div class="person-target-tag" ng-repeat="target in person.targets ">{{target}}</div>
              </div>
              <i class="icon ion-chevron-right icon-accessory"></i>
              <button class="button button-clover ion-chatbox-working" href="#" ng-click="showConfirm(person)">聊一聊</button>
              <button class="button button-clover ion-ios-person" href="#/tab/persons/{{person.id}}">相亲名片</button>
              <ion-option-button class="button-assertive" ng-click="remove(person)">
                Delete
              </ion-option-button>
            </ion-item>
          </ion-list>
      </div>

  </ion-content>
</ion-view>

