<ion-view view-title="guide_07">
    <ion-content class="guideContentBackground2">
<!--        <div class="bar-header" style="display: flex">
            <div class="scroll-content ">-->
        <img class="back-button-left" src="img/back-left.png" ui-sref="guide_06" style="width: 50px;margin-top: 1em;margin-left: 1em;float: left">
        <img class="back-button-right" src="img/back-right.png" ui-sref="guide_08" style="width:50px;margin-top: 1em;margin-right: 1em;float: right">

        <div class="centerContent">
            <img  src="img/logo_white.png" style="width: 8em;height: auto;margin-top: 2em">

                <div style="margin-top:40%;background-color: rgba(255, 255, 255, 0);color: white;border-radius: 30px;border: 2px solid white;height: 50px; align-items: center; display: flex;justify-content: center;width: 70%">
                    <!--这里有一个bug，在chrome中 transparent 属性未能设置透明背景。。。待解决-->
                    <input style="background-color: transparent;width: 80%;" type="text" ng-model="user.lastname" placeholder="请输入您的姓氏">
                </div>
            <div style="margin-top:2em;display: flex;justify-content: center;width: 70%">
                <div class="button button-none" style="margin-right: 5%;" ng-click="updateGenderLastName('male',user.lastname);">
                    <img src="img/male.png" style="height: 30px;float: left;margin-top: 10px;margin-left: 10px;">
                    <p>先生</p>
                </div>
                <div class="button button-none" style="float: right" ng-click="updateGenderLastName('female',user.lastname);">
                    <img src="img/female.png" style="height: 30px;float: left;margin-top: 10px;margin-left: 10px;">
                    <p>女士</p>
                </div>

            </div>
            <div style="width:70%;">
                <p style="float: right;margin-left: auto; margin-top:1em;font-size: 0.1cm;">填写姓氏，性别，方便联系后称谓 </p>
            </div>
            <!--<div class="col">
                <div class="app-logo"><img class="logo" src="img/logo_white.png"></div>
                <label class="item1 item-input icon ion-android-person ">
                    <input class="login " type="text" ng-model="user.lastname" placeholder="请输入您的姓氏"> </label>
                <table>
                    <tr>
                        <td>
                            <button class="button-energized"
                                    style="margin:0.625em 2.5em;padding: 10px;width: 8.5em;" type="submit" ng-click="updateGenderLastName('male',user.lastname);">先生
                            </button>
                        </td>
                        <td>
                            <button class="button-energized"
                                    style="margin: 0.625em 2.5em ;padding: 10px;width:8.5em;" type="submit" ng-click="updateGenderLastName('female',user.lastname);">女士
                            </button>
                        </td>
                    </tr>
                </table>
            </div>-->
                    <!--<p style="margin: 0px 8.3% 0px 41.7%;font-size: 0.1cm;">填写姓氏，性别，方便联系后称谓 </p>-->
                </div>
<!--            </div>
        </div>-->
    </ion-content>
</ion-view>

