<ion-view view-title="Chats">
  <ion-content>
<!--    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.belongId}}">
        <img ng-src="{{chat.belongAvatar}}">
        <h2>{{chat.belongNick}}</h2>
        <p>{{chat.content}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>-->


    <div class="session-list">
      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.belongId}}">
          <h2>hhh</h2>
          <!--<img class="avatar-clover" ng-src="{{person.face}}">
          <h2>{{person.job}}</h2>
          <p>{{person.gender}} | {{person.address}} | {{person.birthday}} | {{person.degree}} | {{person.height}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
          <button class="button button-clover ion-chatbox-working" ui-sref="#tab/chats/{{person.id}}">聊一聊</button>
          <button class="button button-clover ion-ios-person" ui-sref="#tab/persons/{{person.id}}">相亲名片</button>
          <ion-option-button class="button-assertive" ng-click="remove(person)">
            Delete
          </ion-option-button>-->
        </ion-item>
      </ion-list>
    </div>
    <h1>chats</h1>
  </ion-content>
</ion-view>
