<ion-view>
    <ion-content class="guideContentBackground2">
        <guide-two-button ui-sref="guide_09"></guide-two-button>
        <div style="display: flex;justify-content: center;flex-flow: column;align-items: center;color: white;font-family: 微软雅黑;">
            <div style="width: 15em">
                <img class="imgLogoIcon" src="img/logo_icon.png" style="float: left">

                <p style="font-size: 2em;padding-top: 1.6em;font-weight: normal;">相亲名片</p>
            </div>
            <label style="margin-top: 1em">——&nbsp;个性资料&nbsp;——</label>
        </div>

        <div style="padding: 1em 1em;">
            <label style="font-size: 1.2em;color: white">选择符合子女的标签：</label>
            <div class="row" style="height: 5em;">
            <div class="col col-checkbox-div">
                <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                     ng-controller="RadioCtrl" ng-click="check(8,0)">测试</div>
            </div>
            <div class="col col-checkbox-div">
                <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                     ng-controller="RadioCtrl" ng-click="check(8,1)">测试</div>
            </div>
            <div class="col col-checkbox-div">
                <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                     ng-controller="RadioCtrl" ng-click="check(8,2)"><label>测试</label></div>
            </div>
        </div>
            <div class="row" style="height: 5em;">
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(8,3)">测试44</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(8,4)">测试</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(8,5)"><label>测试</label></div>
                </div>
            </div>
            <div class="row" style="height: 5em;">
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(8,6)">测试22</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(8,7)">测试11</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(8,8)"><label>测试33</label></div>
                </div>
            </div>
            <div class="row" style="height: 5em;">
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(8,9)">测试22</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(8,10)">测试11</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(8,11)"><label>测试33</label></div>
                </div>
            </div>

            <p style="font-size: 1.2em;color: white">补充说明:</p>
        </div>
        <div class="centerContent"
             style="border: 1px solid white;-webkit-border-radius: 3em;-moz-border-radius:
             3em;border-radius: 2em;height: 12em;width: 95%;margin-left: 2.5%"
                ng-controller="GuideExtraInfoCtrl">
            <textarea placeholder="介绍家庭情况/兴趣爱好/特长等" ng-model="guide08ExtraText"
                   style="height: 90%;width: 90%;background-color: rgba(255, 0, 0, 0)!important;
                   border: 0 solid white;color:rgba(172, 166, 166, 0.59);font-size: 1.1em;resize: none"></textarea>
           <!-- <button ng-click="Log()">test</button>-->
        </div>
        <img src="img/tabline_75.png" style="margin: 2.5% 2.5%;width: 95%">
    </ion-content>
</ion-view>