<ion-view view-title="guide_05">
    <ion-content class="guideContentBackground2">
        <div class="bar-header">
            <img src="img/guideBackground.png">
            <div class="scroll-content ">
                <div class="row responsive-sm padding remvoeBP">
                    <div class="col">
                        <div class="app-logo"><img id="logo" src="img/logo_white.png"></div>
                        <p class="loginselect">我要找：</p>
                        <ul>
                            <li>
                                <button class="button-login" type="submit" >上海</button>
                            </li>
                            <li>
                                <button class="button-login" type="submit">选择城市</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>