<ion-view view-title="guide_05">
    <ion-content class="guideContentBackground2">
        <img class="back-button-left" src="img/back-left.png" ui-sref="guide_04">
        <img class="back-button-right" src="img/back-right.png" ui-sref="guide_06">
        <div class="centerContent  ">
                    <div class="row responsive-sm padding remvoeBP">
                        <div class="col">
                            <div class="app-logo"><img class="logo" src="img/logo_white.png"></div>
                            <p class="loginselect">我要找：</p>
                            <ul>
                                <li>
                                    <button class="button button-none"style=" margin:3% 14.1%;width: 66.7%;height: 50px" type="submit">老公</button>
                                </li>
                                <li>
                                    <button class="button button-none"style=" margin:3% 14.1%;width: 66.7%;height: 50px" type="submit">老婆</button>
                                </li>
                            </ul>
                        </div>
                    </div>
        </div>
    </ion-content>
</ion-view>