<ion-view view-title="guide_11">
    <ion-content class="guideContentBackground2">
        <guide-two-button></guide-two-button>
        <div style="display: flex;justify-content: center;flex-flow: column;align-items: center;color: white;font-family: 微软雅黑;">

            <div style="width: 15em">
                <img class="imgLogoIcon" src="img/logo_icon.png" style="float: left">

                <p style="font-size: 2em;padding-top: 1.6em;font-weight: normal;">相亲名片</p>
            </div>
            <label style="margin-top: 1em">——&nbsp;择偶条件&nbsp;——</label>
        </div>
        <div style="width: 95%;margin-left: 2.5%;">
            <label style="font-size: 1.2em;color: white">我希望他/她<a style="color: #A7A7A7">（最多选择九项）</a></label>

            <div class="row" style="height: 5em;">
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':nonCheck,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check()">测试</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':nonCheck,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check()">测试</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':nonCheck,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check()"><label>测试</label></div>
                </div>
            </div>
            <div class="row" style="height: 5em;">
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':nonCheck,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check()">测试44</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':nonCheck,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check()">测试</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':nonCheck,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check()"><label>测试</label></div>
                </div>
            </div>
            <div class="row" style="height: 5em;">
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':nonCheck,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check()">测试22</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':nonCheck,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check()">测试11</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':nonCheck,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check()"><label>测试33</label></div>
                </div>
            </div>
            <div class="row" style="height: 5em;">
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':nonCheck,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check()">测试</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':nonCheck,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check()">测试</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':nonCheck,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check()"><label>测试</label></div>
                </div>
            </div>
            <div class="row" style="height: 5em;">
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':nonCheck,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check()">测试44</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':nonCheck,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check()">测试</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':nonCheck,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check()"><label>测试</label></div>
                </div>
            </div>
            </div>
            <p style="font-size: 1.2em;color: white;margin-left: 2.5%">补充说明:</p>

        <div class="centerContent"
             style="border: 1px solid white;-webkit-border-radius: 3em;-moz-border-radius:
             3em;border-radius: 3em;height: 12em;width: 95%;margin-left: 2.5%">
        </div>
        <img src="img/tabline_100.png" style="margin: 2.5% 2.5%;width: 95%">
    </ion-content>
</ion-view>