<ion-view view-title="guide_09">
    <ion-content class="guideContentBackground2">
        <guide-two-button></guide-two-button>
        <div style="display: flex;justify-content: center;flex-flow: column;align-items: center;color: white;font-family: 微软雅黑;">

            <div style="width: 15em">
                <img class="imgLogoIcon" src="../img/logo_icon.png" style="float: left">

                <p style="font-size: 2em;padding-top: 1.6em;font-weight: normal;">相亲名片</p>
            </div>
            <label style="margin-top: 1em">——&nbsp;择偶条件&nbsp;——</label>
            <!--<button  class="button button-none" style="margin-top:50%;" ui-sref="guide9">next page</button>-->
        </div>
        <div style="padding: 1em 1em;">
            <label style="font-size: 1.2em;font-family: 微软雅黑;color: white">我希望他/她<a style="color: #A7A7A7">（最多选择九项）</a></label>

            <div class="row" style="height: 5em">
                <div class="col col-checkbox-div">
                    <input type="checkbox">
                    <label style="font-size: 17px;margin-bottom:10px;">成熟稳重</label>
                    </input>
                </div>
                <div class="col col-checkbox-div">
                    <input type="checkbox">
                    <label style="font-size: 17px;margin-bottom:10px;">成熟稳重</label>
                    </input>
                </div>
                <div class="col col-checkbox-div">
                    <input type="checkbox">
                    <label style="font-size: 17px;margin-bottom:10px;">成熟稳重</label>
                    </input>
                </div>
            </div>
            <div class="row" style="height: 5em">
                <div class="col col-checkbox-div">
                    <input type="checkbox">
                    <label style="font-size: 17px;margin-bottom:10px;">成熟稳重</label>
                    </input>
                </div>
                <div class="col col-checkbox-div">
                    <input type="checkbox">
                    <label style="font-size: 17px;margin-bottom:10px;">成熟稳重</label>
                    </input>
                </div>
                <div class="col col-checkbox-div">
                    <input type="checkbox">
                    <label style="font-size: 17px;margin-bottom:10px;">成熟稳重</label>
                    </input>
                </div>
            </div>
            <div class="row" style="height: 5em">
                <div class="col col-checkbox-div">
                    <input type="checkbox">
                    <label style="font-size: 17px;margin-bottom:10px;">成熟稳重</label>
                    </input>
                </div>
                <div class="col col-checkbox-div">
                    <input type="checkbox">
                    <label style="font-size: 17px;margin-bottom:10px;">成熟稳重</label>
                    </input>
                </div>
                <div class="col col-checkbox-div">
                    <input type="checkbox">
                    <label style="font-size: 17px;margin-bottom:10px;">成熟稳重</label>
                    </input>
                </div>
            </div>
            <div class="row" style="height: 5em">
                <div class="col col-checkbox-div">
                    <input type="checkbox">
                    <label style="font-size: 17px;margin-bottom:10px;">成熟稳重</label>
                    </input>
                </div>
                <div class="col col-checkbox-div">
                    <input type="checkbox">
                    <label style="font-size: 17px;margin-bottom:10px;">成熟稳重</label>
                    </input>
                </div>
                <div class="col col-checkbox-div">
                    <input type="checkbox">
                    <label style="font-size: 17px;margin-bottom:10px;">成熟稳重</label>
                    </input>
                </div>
            </div>
            <div class="row" style="height: 5em">
                <div class="col col-checkbox-div">
                    <input type="checkbox">
                    <label style="font-size: 17px;margin-bottom:10px;">成熟稳重</label>
                    </input>
                </div>
                <div class="col col-checkbox-div">
                    <input type="checkbox">
                    <label style="font-size: 17px;margin-bottom:10px;">成熟稳重</label>
                    </input>
                </div>
                <div class="col col-checkbox-div">
                    <input type="checkbox">
                    <label style="font-size: 17px;margin-bottom:10px;">成熟稳重</label>
                    </input>
                </div>
            </div>
            <p style="font-size: 1.2em;color: white">补充说明:</p>
        </div>

        <div class="centerContent"
             style="border: 1px solid white;-webkit-border-radius: 3em;-moz-border-radius: 3em;border-radius: 3em;height: 12em;margin: -10px 1em;">

        </div>
        <img src="../img/tabline_100%.png" style="margin: 5% 5%;width: 90%">
    </ion-content>
</ion-view>