<ion-view>
    <ion-content class="guideContentBackground2">
        <guide-two-button ui-sref="guide_10"></guide-two-button>
        <guide-two-button ui-sref="tab.main"></guide-two-button>
        <div style="display: flex;justify-content: center;flex-flow: column;align-items: center;color: white;font-family: 微软雅黑;">
            <div style="width: 15em">
                <img class="imgLogoIcon" src="img/logo_icon.png" style="float: left">

                <p style="font-size: 1.5em;padding-top: 1.6em;font-weight: normal;">相亲名片</p>
            </div>
            <label style="margin-top: 1em">——&nbsp;基本资料&nbsp;——</label>
            <ul ng-controller="InputCtrl" style="width: 90%">
                <li ng-repeat="data in datas">
                    <div ng-class="{true:'customInputFilled',false:'customInputNotFilled'}[data.isFilled]"  ng-click="do(data.functionId)">
                        <p style="float: left">{{data.info}}</p>
                        <p style="float: right;">{{data.value!=null?data.value:"未填写"}}</p>
                    </div>
                </li>
            </ul>
        </div>

       <!-- <img src="img/tabline_50.png" style="margin: 5% 5%;width: 90%">-->
            <div class="row" style="height: 5em;">
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(9,0)">测试</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(9,1)">测试</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(9,2)"><label>测试</label></div>
                </div>
            </div>
            <div class="row" style="height: 5em;">
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(9,3)">测试44</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(9,4)">测试</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(9,5)"><label>测试</label></div>
                </div>
            </div>
            <div class="row" style="height: 5em;">
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(9,6)">测试22</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(9,7)">测试11</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(9,8)"><label>测试33</label></div>
                </div>
            </div>
            <div class="row" style="height: 5em;">
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(9,9)">测试</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(9,10)">测试</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(9,11)"><label>测试</label></div>
                </div>
            </div>
            <div class="row" style="height: 5em;">
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(9,12)">测试44</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(9,13)">测试</div>
                </div>
                <div class="col col-checkbox-div">
                    <div ng-class="{'customCheckBox':!Check,'customCheckBoxChecked':Check}"
                         ng-controller="RadioCtrl" ng-click="check(9,14)"><label>测试</label></div>
                </div>
            </div>
            </div>
            <p style="font-size: 1.2em;color: white;margin-left: 2.5%">补充说明:</p>



        <div class="centerContent"
             style="border: 1px solid white;-webkit-border-radius: 3em;-moz-border-radius:
             3em;border-radius: 2em;height: 12em;width: 95%;margin-left: 2.5%">
            <textarea placeholder="我还希望他/她..." ng-model="guide09ExtraText"
                      style="height: 90%;width: 90%;background-color: rgba(255, 0, 0, 0)!important;
                   border: 0 solid white;color:rgba(172, 166, 166, 0.59);font-size: 1.1em;resize: none"></textarea>

            <!--<button ng-click="Log()">test</button>-->
        </div>
        <img src="img/tabline_100.png" style="margin: 2.5% 2.5%;width: 95%">
    </ion-content>
</ion-view>