<ion-view view-title="guide_06">
    <ion-content class="guideContentBackground2">
        <img class="back-button-left" src="img/back-left.png" ui-sref="guide_05">
        <img class="back-button-right" src="img/back-right.png" ui-sref="guide_07">
        <!--<button class="button button-none-circle-back" ui-sref="guide_05"></button>-->
        <div class="centerContent">
        <div class="row responsive-sm padding remvoeBP">
                   <div class="col">
                        <div class="app-logo"><img class="logo" src="img/logo_white.png"></div>
                        <p class="loginselect">我要找：</p>
                       <br>
 <!--                      <ul ng-controller="CityCtrl" style="width: 90%">
                            <li>
                             <button class="button button-none" style=" margin:3% 14.1%;width: 66.7%;height: 50px" type="submit">{{vm.chooseCity}}</button>
                            </li>
                            <li>
                               <button class="button button-none" style=" margin:3% 14.1%;width: 66.7%;height: 50px" type="submit" ng-click="choose()" >选择城市</button>
                            </li>
                        </ul>-->
                       <div ng-controller="MycityCtrl">
                           <p class="loginselect">选择省：</p>
                           <li class="centerContent">
                           <select ng-model="your.province" ng-options="v.province for v in chinaCities" ng-change="selectedFirstValue(your.province)">
                               <option  value="" ng-if="!chinaCities && !your.province">请选择</option>
                           </select>
                           </li>
                           <br>
                           <p class="loginselect">选择市：</p>
                           <li class="centerContent">
                           <select ng-model="your.city" ng-options="v.city for v in your.province.cities">
                               <option value="" ng-if="!your.city">请选择</option>
                           </select>
                           </li>
                           <br>
                           <p class="loginselect">选择区：</p>
                           <li class="centerContent">
                           <select ng-model="your.area" ng-options="v for v in your.city.areas">
                               <option value="" ng-if="!your.city">请选择</option>
                           </select>
                           </li>
                       </div>
                    </div>
                </div>
            </div>
    </ion-content>
</ion-view>