<ion-view view-title="guide_03">
    <ion-content class="guideContentBackground2">
        <div class="bar-header">
                <img src="img/guideBackground.png">
                <div class="scroll-content ">
                    <div class="row responsive-sm padding remvoeBP">
                        <div class="col">
                            <div class="app-logo"><img id="logo" src="img/logo_white.png"></div>
                            <p class="loginselect">我是：</p>
                            <ul>
                                <li>
                                    <button class="button button-none-red" style=" margin:20px 70px ; width: 200px;height:50px;" type="submit">家长</button>
                                </li>
                                <li>
                                    <button class="button button-none-red" style=" margin:20px 70px ; width: 200px;height:50px;" type="submit">本人</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

        </div>
    </ion-content>
</ion-view>