<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<!--<ion-view id="personDetailView"
          cache-view="false"
          view-title="<i class='icon ion-chatbubble user-messages-top-icon'></i> <div class='msg-header-username'>{{person.job}}</div>">
 <!--   <div class="loader-center" ng-if="!doneLoading">
        <div class="loader">
            <i class="icon ion-loading-c"></i>
        </div>
    </div>
    <ion-content class="padding">
 <!--       <p>hhh{{person.job}}</p>
        <p>hhh{{person==null}}</p>-->
<ion-view view-title="personDetail">
    <ion-content>
        <div class="main-self">
        <img ng-src="{{person.face}}" class="avatar">
                    <button class="button button-clover active ion-ios-person self-profile">相亲名片</button>
                    <button class="button ion-ios-gear self-setting"></button>
                    <img class="avatar-self" ng-src="img/adam.jpg">
                </div>
                        <div id ="left">
                            <button class="info active" >基本资料</button>
                            <button class="info">个性资料</button>
                            <button class="info">生活照片</button>
                            <button class="info">择偶条件</button>
                        </div>
                        <div id ="right">
                            <h3>基本资料&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>修改</small></h3>
                            <p>职业&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CEO</p>
                            <p>年龄&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;26</p>
                            <p>身高&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;180cm</p>
                            <p>学历&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;硕士</p>
                            <p>居住地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上海杨浦</p>
                            <p>籍贯&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上海市</p>
                            <p>住房&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;已购房（无贷款）</p>
                            <p>月收入&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8000以上</p>
                            <p>婚姻情况&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;未婚</p>
                            <h3>个性资料&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>修改</small></h3>
                            <button class="personInfo">500强</button>
                            <button class="personInfo">500强</button>
                            <button class="personInfo">500强</button>
                        </div>

                    </ion-list>
                </div>
        </div>


        <!--        <p>
                    {{chat.lastText}}
                </p>
                <div ng-repeat="message in messages" class="message-wrapper"
                     on-hold="onMessageHold($event, $index, message)">

                    <div ng-if="user._id !== message.userId">

                        <img ng-click="viewProfile(message)" class="profile-pic left"
                             ng-src="{{toUser.pic}}" onerror="onProfilePicError(this)" />

                        <div class="chat-bubble left">

                            <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                            </div>

                            <div class="message-detail">
                                      <span ng-click="viewProfile(message)"
                                            class="bold">{{toUser.username}}</span>,
                                <span am-time-ago="message.date"></span>
                            </div>

                        </div>
                    </div>

                    <div ng-if="user._id === message.userId">

                        <img ng-click="viewProfile(message)" class="profile-pic right"
                             ng-src="{{user.pic}}" onerror="onProfilePicError(this)" />

                        <div class="chat-bubble right">

                            <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                            </div>

                            <div class="message-detail">
                                      <span ng-click="viewProfile(message)"
                                            class="bold">{{user.username}}</span>,
                                <span am-time-ago="message.date"></span>
                            </div>

                        </div>

                    </div>

                    <div class="cf"></div>

                </div>-->
    </ion-content>

</ion-view>
