<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view id="personDetailView"
          cache-view="false"
          view-title="<i class='icon ion-chatbubble user-messages-top-icon'></i> <div class='msg-header-username'>{{person.job}}</div>">
    <div class="loader-center" ng-if="!doneLoading">
        <div class="loader">
            <i class="icon ion-loading-c"></i>
        </div>
    </div>
    <ion-content class="padding">
        <p>hhh{{person.job}}</p>
        <p>hhh{{person==null}}</p>

        <img ng-src="{{person.face}}" class="avatar">
        <!--        <p>
                    {{chat.lastText}}
                </p>
                <div ng-repeat="message in messages" class="message-wrapper"
                     on-hold="onMessageHold($event, $index, message)">

                    <div ng-if="user._id !== message.userId">

                        <img ng-click="viewProfile(message)" class="profile-pic left"
                             ng-src="{{toUser.pic}}" onerror="onProfilePicError(this)" />

                        <div class="chat-bubble left">

                            <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                            </div>

                            <div class="message-detail">
                                      <span ng-click="viewProfile(message)"
                                            class="bold">{{toUser.username}}</span>,
                                <span am-time-ago="message.date"></span>
                            </div>

                        </div>
                    </div>

                    <div ng-if="user._id === message.userId">

                        <img ng-click="viewProfile(message)" class="profile-pic right"
                             ng-src="{{user.pic}}" onerror="onProfilePicError(this)" />

                        <div class="chat-bubble right">

                            <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                            </div>

                            <div class="message-detail">
                                      <span ng-click="viewProfile(message)"
                                            class="bold">{{user.username}}</span>,
                                <span am-time-ago="message.date"></span>
                            </div>

                        </div>

                    </div>

                    <div class="cf"></div>

                </div>-->
    </ion-content>

</ion-view>
