<ion-view view-title="Main" class="tab-main">
  <ion-content>
    <div class="main-self">
      <button class="button ion-ios-gear self-setting"></button>
      <img class="avatar-self" ng-src="img/adam.jpg">
      <table class="self-dashboard">
        <tbody>
        <tr>
          <td class="dashboard-key">被关注</td>
          <td class="dashboard-value">15</td>
        </tr>
        <tr>
          <td class="dashboard-key">被浏览</td>
          <td class="dashboard-value">198</td>
        </tr>

        </tbody>
        <button class="button button-clover active ion-ios-person self-profile">相亲名片</button>
      </table>
    </div>

      <div id="main-bar" class="bar">
        <div class="button-bar main-button-bar">
          <a class="button main-filter active">最近</a>
          <a class="button main-filter">热门</a>
          <a class="button main-filter">筛选</a>
        </div>
      </div>

      <div class="persons-list-main">
          <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="person in persons" type="item-text-wrap" href="#/tab/persons/{{person.id}}">
              <img class="avatar-clover" ng-src="{{person.face}}">
              <h2>{{person.job}}</h2>
              <p>{{person.gender}} | {{person.address}} | {{person.birthday}} | {{person.degree}} | {{person.height}}</p>
              <div class="person-tags"></div>
              <div class="target-tags"></div>
              <i class="icon ion-chevron-right icon-accessory"></i>
              <button class="button button-clover ion-chatbox-working" ui-sref="#tab/chats/{{person.id}}">聊一聊</button>
              <button class="button button-clover ion-ios-person" ui-sref="#tab/persons/{{person.id}}">相亲名片</button>
              <ion-option-button class="button-assertive" ng-click="remove(person)">
                Delete
              </ion-option-button>
            </ion-item>
          </ion-list>
      </div>

  </ion-content>
</ion-view>

